.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: rgb(107, 121, 157);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-header {
  background-color: #365b83;
  padding: 20px;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.App-header h1 {
  margin: 0 0 10px 0;
  font-size: 2em;
}

.results {
  background: #d4edda;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
